
.App {
  justify-items: center;
  
}

.quiz {
  text-align: center;
  justify-items: center;
  
}


.button {
  background-color: blue;
  text-align: center;
  padding: 10px;
  width: 15%;
  border-radius: 2em;
  color:blanchedalmond;
}



.intro{
  padding: 60px;
  width: 40%;
  border-radius: 2em;
  background-color: #6495ed;
}
.easy {
  padding: 60px;
  width: 40%;
  border-radius: 2em;
  background-color: #9acd32;
}

.medium {
  padding: 60px;
  width: 40%;
  border-radius: 2em;
  background-color: #daa520;
}

.hard{
  padding: 60px;
  width: 40%;
  border-radius: 2em;
  background-color: #dc143c;
}


